.balls {
  width: 6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
  
  .balls div {
  width: 0.8em;
  height: 0.8em;
  margin-top: 200px;
  border-radius: 50%;
  background-color: brown;
  transform: translateY(-200%);
  animation: wave 1s ease-in-out alternate infinite;
}
  
.balls div:nth-of-type(1) {
  animation-delay: -0.6s;
}
  
.balls div:nth-of-type(2) {
  animation-delay: -0.4s;
}
  
@keyframes wave {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(200%);
  }
}

.filme-info{
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media only screen and (max-width: 500px){
  .filme-info h1{
    font-size: 1.5em;
  }
}
.filme-info p{
  width: 80%;
}
.filme-info img{
  border-radius: 20px;
  width: 80%;

}
.filme-info button{
  margin-right: 5px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  outline: none;
  padding: 12px;
}  
.filme-info button:hover{
  background-color: brown;
  transition: all 0.3s;
  color: #fff;
}
.filme-info button:active{
  background-color: #a52a2acb;
  transform: translateY(2px);
  color: #fff;
}
.filme-info a{
  text-decoration: none;
  color: #000;
}
.filme-info a:hover{
  transition: all 0.3s;
  color: #fff;
}